<?xml version="1.0"?>
<config>
    <modules>
        <Recommendation_Als>
            <version>0.1.0</version>
        </Recommendation_Als>
    </modules>
  
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <recommendation_als>
                                            <title>Als</title>
                                        </recommendation_als>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <models>
            <recommendation_als>
                <class>Recommendation_Als_Model</class>
                <resourceModel>recommendation_als_resource</resourceModel>
            </recommendation_als>
            <recommendation_als_resource>
				<class>Recommendation_Als_Model_Resource</class>
				<entities>
		  			<pagerecomendeduser>
						<table>page_recomended_user</table>
					</pagerecomendeduser>
				</entities>
	      	</recommendation_als_resource>
    	</models>
        <resources>
            <recommendation_als_setup>
                <setup>
                    <module>Recommendation_Als</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recommendation_als_setup>
            <recommendation_als_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recommendation_als_write>
            <recommendation_als_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recommendation_als_read>
        </resources>
        <helpers>
            <recommendation_als>
                <class>Recommendation_Als_Helper</class>
            </recommendation_als>
        </helpers>
    </global>
    
</config>